<div id="page" class="site">
    <header id="masthead" class="site-header" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top">
                        <div class="site-branding">
                            <h1 class="site-title logo">
                                <a id="blogname" rel="home" href="/" title="<%= title %>"><%= title %></a>
                            </h1>
                        </div>
                        <div class="nav-switch"><i class="fa fa-bars"></i> <i class="fa fa-times"></i></div>
                    </div>
                    <nav id="site-navigation" class="main-navigation" role="navigation">
                    </nav>
                    <header class="page-header">
                        <h1>lidy的个人主页</h1>
                    </header>
                </div>
            </div>
        </div>
        <canvas id="waveCanvas"></canvas>
    </header>
    <div id="content" class="site-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">
                            <article id="post-1"
                                     class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
                                <header class="entry-header">
                                    <div class="cat-list">
                                        <a href="/u/sort/<%=post.sort%>" rel="category tag"><%=post.sort%></a>
                                    </div>
                                    <h1 class="entry-title"><%= post.title %></h1>
                                    <div class="entry-meta">
                                        <span><%= post.name %> 发表于 <%= post.time.minute %> </span>
                                    </div>
                                </header>
                                <div class="entry-content">
                                    <%- post.post %>
                                </div>
                                <% if (user && (user.name == post.name)) { %>
                                <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
                                <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
                                <% } %>
                                <footer class="entry-footer">
                                    <div class="com-box">
                                        <i class="fa fa-comment"></i><%= post.comments.length %>条留言
                                    </div>
                                    <ul class="sharebtn">
                                        <li class="weibo">
                                            <a href="http://service.weibo.com/share/share.php?url=http://<%=host%>/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>&title=<%= post.title %>"
                                               target="_blank"><i class="fa fa-weibo"></i></a>
                                        </li>
                                        <li class="qqkongjian">
                                            <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://<%=host%>/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>&title=<%= post.title %>"
                                               target="_blank"><i class="fa fa-qq"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </footer>
                                <div id="authorarea">
                                    <img alt='头像' src="/assets/images/header.png" class='avatar avatar-100 photo' height='100' width='100'/>
                                    <h3>About lidy</h3>
                                    <div class="authorinfo">
                                        <a class="author-link" href="/u/<%= post.name %>"
                                           rel="author">查看<%= post.name %>的文章 <span class="meta-nav">&rarr;</span></a>
                                    </div>
                                </div>
                            </article>
                            <!--留言开始-->
                            <%- include comment.ejs %>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include footer %>