<div id="comments" class="comments-area">
  <h2 class="comments-title">
    文章留言
  </h2>
  <!--留言开始-->
  <ol class="comment-list">
    <% post.comments.forEach(function (comment, index) { %>
    <li id="comment-<%= index %>" class="comment even thread-even depth-1">
      <article id="div-comment-1" class="comment-body">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            <img alt='头像' src="/assets/images/header.png" class="avatar avatar-80 photo avatar-default" height="80" width="80" />
            <b class="fn">
              <a href="<%= comment.website %>" rel='external nofollow' class='url'>
                <%= comment.name %>
              </a>
            </b>
            <span class="says">说道：</span>
          </div>
          <div class="comment-metadata">
            <a href="#comment-<%= index %>">
              <time datetime="<%= comment.time %>">
                <%= comment.time %>
              </time>
            </a>
          </div>
        </footer>
        <div class="comment-content">
          <%= comment.content %>
        </div>
        <!--<div class="reply">-->
        <!--<a rel='nofollow' class='comment-reply-link' href='#respond' aria-label='回复给<%= comment.name %>'>回复</a>-->
        <!--</div>-->
      </article>
    </li>
    <% }) %>
  </ol>
  <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">
      <div class="crunchify-text">请发表您的留言</div>
      <small>
        <!--<a rel="nofollow" id="cancel-comment-reply-link"-->
        <!--href="/index.php/2016/09/11/hello-world/#respond"-->
        <!--style="display:none;">取消回复</a>-->
      </small>
    </h3>
    <form method="post" id="commentform"
          class="comment-form" novalidate>
      <p class="comment-notes">
        <!--<span id="email-notes">电子邮件地址不会被公开。</span> 必填项已用-->
        <!--<span class="required">*</span>标注-->
      </p>
      <p class="comment-form-comment">
                                            <textarea id="content" name="content" placeholder="留言。。" cols="45" rows="8"
                                                      aria-required="true"></textarea>
      </p>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <p class="comment-form-author">
            <input id="author" placeholder="昵称" name="name" type="text"
                   value="<%= (user ? user.name : '') %>" size="30"/>
          </p>
        </div>
        <div class="col-lg-4 col-md-4">
          <p class="comment-form-email">
            <input id="email" placeholder="email@domain.com" name="email" type="text"
                   value="<%= (user ? user.email : '') %>" size="30"/>
          </p>
        </div>
        <div class="col-lg-4 col-md-4">
          <p class="comment-form-url">
            <input id="url" name="website" type="text"
                   placeholder="http://your-site-name.com"
                   value="<%= (user ? '/u/'+user.name : '') %>" size="30"/>
          </p>
        </div>
      </div>
      <p class="form-submit">
        <input name="submit" type="submit" id="submit" class="submit" value="发表评论"/>
        <input type='hidden' name='comment_post_ID' value='1' id='comment_post_ID'/>
        <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
      </p>
    </form>
  </div>
</div>